<div class="row mb-4">
    <div class="col-sm-4">
        <img width="100%" height="auto" class="w-full rounded-lg" src="{{ mini-project.gif }}">
    </div>
    <div class="col-sm-8">
        {% if mini-project.system-name %} <b><i>{{ mini-project.system-name }}</i>:</b> {% endif %}
        <b>{{ mini-project.title }}</b>
        <br>
        <i><a href="{{ mini-project.event-web }}" target="_blank" rel="noopener">{{ mini-project.event }}</a></i>
        <br>
            {{mini-project.authors }}
        <br>
        {% if mini-project.poster %} <a href="{{ mini-project.poster }}" target="_blank" rel="noopener">[POSTER]</a> {% endif %}
        {% if mini-project.pdf %} <a href="{{ mini-project.pdf }}" target="_blank" rel="noopener">[PDF]</a> {% endif %}
        {% if mini-project.demo %} <a href="{{ mini-project.demo }}" target="_blank" rel="noopener">[DEMO]</a> {% endif %}
        <br>
        <u><b><i>Abstract</i></b>:</u> {{ mini-project.abstract }}
        <br>
        {% if mini-project.credit %} <u><b><i>Image credit</i></b>:</u> {{ mini-project.credit }} {% endif %} <br>
        {% if mini-project.note %} <u><b><i>Note</i></b>:</u> {{ mini-project.note }} {% endif %}
    </div>
</div>
